### System Files ###
.DS_Store

# Optional npm cache directory
.npm

# Dependency directories
/node_modules
/bower_components

# Optional eslint cache
.eslintcache

# workspace files are user-specific
*.sublime-workspace

### WebStorm/IntelliJ ###
/.idea
modules.xml
*.ipr

# Thumbnails
._*

# Files that might appear in the root of a volume
.TemporaryItems
.Trashes

# Remove Cashes #
/code/public/var/cache/*
!/code/public/var/cache/clear_cache.sh
/code/public/web/cache/*
!/code/public/web/cache/.gitkeep

# Remove Logs #
/code/public/var/log/*
!/code/public/var/log/.htaccess